<h3>Pending</h3>
<ul>
{{#each participants}}
<li>{{this.name}}</li>
{{/each}}
</ul>


<h3>Confirmed</h3>
<ul>
{{#each confirmations}}
<li>{{this.name}}</li>
{{/each}}
</ul>


<h3>Rejected</h3>
<ul>
{{#each rejections}}
<li>{{this.name}}</li>
{{/each}}
</ul>

<a href="/events">Back</a>