<div class="new-event-container">
  <h2>New Event</h2>

  <form action="/events/new" method="POST" enctype="multipart/form-data" class="form-event">
    <div class="options-home">
      <input class="new-event-input" type="text" name="title" placeholder="title">
      <input  class="new-event-input" type="text" name="description" placeholder="description">
      <input class="new-event-input" type="text" name="address" placeholder="address">
      <input class="new-event-input" type="date" name="dateEvent" placeholder="date">
      <input class="new-event-input" type="time" name="time" placeholder="time">

      <div>
        <input type="file" name="image" placeholder="Upload a picture for the event">
      </div>

      <button type="submit">Create</button>
    </div>

  </form>

  {{> flash}}

  <a href="/">Back</a>
</div>