<section class="event-add-friends-main">
  <h2>Add Friends</h2>
  <h3>{{event.title}}</h3>
  <p>{{event.description}}</p>
  <form action="/events/{{event._id}}/add" method="POST">
    <input type="text" name="name" placeholder="name">
    <button type="submit">
      <i id="add-friend-btn" class="fas fa-plus-circle"></i>
    </button>
  </form>
  {{> flash}}
  <h3>Participants</h3>
  {{#each event.participants}}
    <p>{{this.name}}</p>
  {{/each}}
  <a href="/events">Back</a>
</section>