<h1>MORE INFO</h1>







<div id="map">

</div>

<p class="longitude-p">{{coordinates.longitude}}</p>
<p class="latitude-p">{{coordinates.latitude}}</p>


<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src="/javascripts/map.js"></script>