<div class="login-div">
  <h2>Login</h2>
  <form action="/auth/login" method="POST" class="login-form">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>

{{>flash}}
</div>