<section class="index-main login-section">
  <div class="container-login">
  <h2>Login</h2>
  <form action="/auth/login" method="POST" class="login-form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
  </div>
{{>flash}}
</section>




