<div class="signup-div index-main">
  <div class="container-login">
  <h2>SignUp!</h2>
  <form class="signup-form" action="/auth/signup" method="POST">
    <input  class="placeholder-white" type="text" name="name" placeholder="name" class="field">
    <input  class="placeholder-white" type="text" name="username" placeholder="username" class="field">
    <input  class="placeholder-white" type="email" name="email" placeholder="email" class="field">
    <input  class="placeholder-white" type="password" name="password" placeholder="password" class="field">
    {{> flash}}
    <button class="submitButton" type="submit">SignUp!</button>
    <a href="/">Back</a>
  </form>

  </div>
  
</div>
