<div class="signup-div">
  <h2>Signup</h2>
  <form class="singup-form" action="/auth/signup" method="POST">
    <input type="text" name="name" placeholder="name" class="field">
    <input type="text" name="username" placeholder="username" class="field">
    <input type="email" name="email" placeholder="email" class="field">
    <input type="password" name="password" placeholder="password" class="field">

    <button type="submit">Signup!</button>
  </form>


  {{> flash}}
</div>
<a href="/">Back</a>