{{#if currentUser}}

<div class="home-main-div">
  <h1>HOME</h1>
  <div class="options-home">
    <a href="/events/new" class="menu-text2 img img1">Create Event</a>
    <a href="/users/friends" class="menu-text2 img img2">Friends</a>
    <a href="/events" class="menu-text2 img img3">Events</a>
  </div>
  <div>
    <a href="/messages">Messages</a>
  
</div>
{{else}}

<div class="index-main">
  <div class="opacity">
  <h1>Event Up!</h1>
  <div class="options-home">
    <a class="index-login menu-text" href="/auth/login">Login</a>
    <a class="index-signup menu-text" href="/auth/signup">Signup</a>
    <a href="/auth/facebook">Facebook</a>
  </div>
</div>
</div>

{{/if}}