{{#if currentUser}}

<div class="home-main-div">
  <h1>HOME</h1>
  <div class="options-home">
    <a href="/events/new" class="menu-text">Create Event</a>
    <a href="/users/friends" class="menu-text">Friends</a>
    <a href="/events" class="menu-text">Events</a>
  </div>
  <div class="index-main">
  <div>
    <a href="/messages">Messages</a>
  </div>
</div>
{{else}}
<div class="index-main">
  <h1>Event Up</h1>
  <div class="options-home">
    <a class="index-login menu-text" href="/auth/login">Login</a>
    <a class="index-signup menu-text" href="/auth/signup">Signup</a>
    <a href="/auth/facebook">Facebook</a>
  </div>
</div>

{{/if}}