{{#if currentUser}}

<div class="home-main-div">
  {{!-- <h1>HOME</h1> --}}
  <div class="options-home">
    <div class="opacity-home img img1">
    <a href="/events/new" class="menu-text2  ">Create Event</a>
    </div>
    <div class="opacity-home img img2">
    <a href="/users/friends" class="menu-text2 ">Friends</a>
    </div>
    <div class="opacity-home img img3">
    <a href="/events" class="menu-text2 ">Events</a>
    </div>

  </div>
  <div>
  
</div>
{{else}}

<div class="index-main">
  <div class="opacity">
  <h1>Event Up!</h1>
  <div class="options-home">
    <a class="index-login menu-text" href="/auth/login">Login</a>
    <a class="index-signup menu-text" href="/auth/signup">Signup</a>
    <a href="/auth/facebook">Facebook</a>
  </div>
</div>
</div>

{{/if}}