<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans+Condensed:300" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  {{#if currentUser}}
  <nav class="navbar">
    <div>
      <p>Welcome,<a href="/users/edit">{{currentUser.username}}</a></p>
    </div>
    <div class="navbar-div">
      <form action="/auth/logout" method="POST">
        <button class="button-logout"type="submit">Logout</button>
      </form>
    </div>

  </nav>
  {{/if}}
  

  {{{body}}}
  
  
</body>

  {{#if currentUser}}
  <nav class="navbarFooter">
    <div class="navbarFooter-container">
       <div>
         <a href="/events/new"><img src="/images/addEventLogo.png" alt="Add event"></a>
      
        </div>
        <div>
          <a href="/users/friends"><img src="/images/iconFriends.png" alt="Friends"></a>
      
         </div>

         <div>
           <a href="/events"><img src="/images/eventos.png" alt="Events"></a>
        </div>
        
        <div>
           <a href="/messages"><img src="/images/sobre.png" alt="Events"></a>
        </div>
    </div>
  </nav>
  {{/if}}


</html>