<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body>
    <h4>{{currentUser.name}}</h4>
    
    {{#if currentUser}}
    <nav class="navbar">
      <form action="/auth/logout" method="POST">
      <button type="submit">Logout</button>
      </form>
    </nav>
    {{/if}}
    {{{body}}}
  </body>
</html>
