<h2>Friends</h2>

<form action="/users/friends" method="GET">
  <input type="text" name="name" placeholder="user name">
  <button type="submit">Search</button>
</form>

<h4>{{friend.name}}</h4>


<form action="/users/friends" method="POST">
<input type="text" name="name" value="{{friend.name}}">
{{#if friend.name}}
<button type="submit">Add</button>
{{/if}}
</form>

<ul>
  {{#each myFriends.friends}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>