<h2>Message Reply</h2>

{{#each message.body}}
<p>{{this.message}}</p>
{{/each}}

<form action="/messages/{{message._id}}/edit" method="POST">
<label for="body">Message</label>
<input type="text" name="messages">
<button type="submit">Send</button>
</form>

<a href="/messages">Back</a>