<form action="/messages/new" method="POST">
  <label for="name">To</label>
  <input type="text" name="name">
  <label for="name">Title</label>
  <input type="text" name="title">
  <label for="body">Message</label>
  <input type="text" name="body">
  <button type="submit">Send</button>
</form>