<section class="canguro-main">
  <h1>Canguros</h1>
  {{#each result.data}}
  <div class="main-canguro-div">
    <img id="img-canguro" src="{{this.imageUrl}}" alt="">
    <p>{{this.username}}</p>
    <p>{{this.description}}</p>
  </div>
  {{/each}}
  <button class="go-back-btn">Back</button>
</section>

<script src="javascripts/weather.js"></script>