

a {
  color: #00B7FF;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* 
body {
  margin: 0;
  padding: 0;
  background: #c6c6cc;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
} */

/* --------------- NAVBAR -------------------- */

/* .navbar {
  display: flex;
  flex-direction: row-reverse;
}

.navbar button {
  border: none;
  background: #ad33ff;
  color: white;
  height: 100px;
  width: 200px;
  border-radius: 80px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 40px 40px 0 0;
} */


/* ------------ INDEX SPLASH SCREEN -------------- */

/* .index-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.index-main h1 {
  font-family: 'Fredoka One', sans-serif;
  font-size: 8em;
  color: #ad33ff;
}

.index-main a {
  color: white;
  border-radius: 50px;
  text-decoration: none;
  width: 30%;
  height: 100px;
  margin: 10px auto;
  padding-top: 30px;
  font-size: 2em;
}

.index-login {
  background: #ad33ff;
}

.index-signup {
  background: #47d147;
} */

/* ------------------ LOGIN SCREEN ------------------ */

/* .login-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 40%;
} */

/* .login-div h2 {
  color: #ad33ff;
  font-size: 5em;
  font-family: 'Fredoka One', sans-serif;
}

.login-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 20vh;
  margin: 0 auto;
}

.login-div input {
  height: 100px;
  font-size: 1.5em;
  text-align: center;
  opacity: 0.8;
  margin: 30px;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
}

.login-div button {
  height: 80px;
  font-size: 1.5em;
  text-transform: uppercase;
  background: #ad33ff;
  border: none;
  color: white;
  width: 200px;
  margin: 10px auto;
  border-radius: 80px;
} */


/* ------------ SIGN UP SCREEN -------------- */
/* 
.signup-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 40%;
}

.signup-div h2 {
  color: #47d147;
  font-size: 5em;
  font-family: 'Fredoka One', sans-serif;
}

.signup-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 40vh;
  margin: 0 auto;
}

.signup-div input {
  height: 100px;
  font-size: 1.5em;
  opacity: 0.8;
  margin: 30px;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  text-align: center;
}

.signup-div button {
  height: 120px;
  font-size: 1.5em;
  text-transform: uppercase;
  background: #47d147;
  border: none;
  color: white;
  width: 300px;
  margin: 10px auto;
  border-radius: 80px;
} */


/* --------- HOME SPLASH SCREEN -------------- */

/* .home-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.home-main-div h1 {
  font-size: 6em;
  color: #ad33ff;
  font-family: 'Fredoka One', sans-serif;
}

.home-main-div a {
  font-size: 4em;
  margin: 40px auto;
  background: #47d147;
  color: white;
  text-decoration: none;
  border-radius: 80px;
  width: 60%;
} */


/* ---------------- NEW EVENT ----------------- */

